==
<section class="features-list uk-section uk-section-muted uk-preserve-color" id="tm-bottom">
    <div class="uk-container">
        <div class="uk-grid-match" uk-scrollspy="cls:uk-animation-fade; delay: 250; repeat: true" uk-grid uk-margin-medium>
            <div class="feature-icon uk-width-expand@s">
                <div class="uk-bottom-item uk-panel">
                    <ul class="uk-subnav uk-subnav-line uk-icon-small">
                        <li><a href="#" class="uk-icon uk-margin-medium-right" uk-icon="icon: xing; ratio: 2"></a></li>
                        <li><a href="#" class="uk-icon uk-margin-medium-right" uk-icon="icon: instagram; ratio: 2"></a></li>
                        <li><a href="#" class="uk-icon uk-margin-medium-right" uk-icon="icon: github-alt; ratio: 2"></a></li>
                    </ul>
                 </div>
             </div>
             <div class="feature-icon uk-width-auto@s">
                 <div class="uk-bottom-item uk-panel">
                     <ul class="uk-subnav uk-subnav-line uk-vertical-align uk-text-bold">
                     <li><a href="#">Impressum</a></li>
                     <li><a href="#">Datenschutzerklärung</a></li>
                     </ul>    
                 </div>
             </div>
        </div>
    </div>
</section>