[viewBag]

[staticMenu kitifyBottomMenu]
code = "bottom-menu"
==
<section class="features-list uk-section uk-section-muted uk-preserve-color" id="tm-bottom">
    <div class="uk-container">
        <div class="uk-grid-match uk-grid-divider" uk-scrollspy="cls:uk-animation-fade; delay: 250; repeat: true" uk-grid uk-margin-medium>
            <div class="feature-icon uk-width-1-2@m">
                <div class="uk-bottom-item uk-panel">
                    <ul class="uk-subnav uk-subnav-line uk-icon-small tm-line-zero uk-float-left">
                        <li><a href="#" class="uk-icon uk-margin-medium-right" uk-icon="icon: xing; ratio: 2"></a></li>
                        <li><a href="#" class="uk-icon uk-margin-medium-right" uk-icon="icon: instagram; ratio: 2"></a></li>
                        <li><a href="#" class="uk-icon uk-margin-medium-right" uk-icon="icon: github-alt; ratio: 2"></a></li>
                    </ul>
                 </div>
             </div>
             <div class="feature-icon uk-child-width-1-1@s uk-width-1-2@m">
                 <div class="uk-bottom-item uk-panel">
                     <ul class="uk-subnav uk-subnav-line uk-text-bold uk-float-right mobile-float uk-text-left">
                     <li>{% component 'kitifyBottomMenu' %}</li>
                     </ul>    
                 </div>
             </div>
        </div>
    </div>
</section>