[viewBag]

[staticMenu kitifyMenu]
code = "main-menu"
==
<div class="uk-offcanvas-content">

    <header class="uk-navbar-container" uk-sticky="animation: uk-animation-slide-top ; show-on-up:true">
        <div class="uk-container">
            <nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push;">
                
                  <div class="tm-logo-container">
                       <a href="/uikitify"><img src="{{ 'assets/images/theme/logo.svg'|theme }}" width="120" height="auto" uk-svg></a>
                  </div>
                        <div class="uk-navbar-left">
                            <ul class="uk-navbar-nav">                        
                                <li>{% partial 'menu-items' items=kitifyMenu.menuItems class='nav uk-navbar-nav' %}</li>
                            </ul>
                            
                        </div>

                
                <div class="uk-navbar-right">
                    <a class="uk-navbar-toggle" href="#offcanvas" uk-navbar-toggle-icon uk-toggle></a>
                </div>
            </nav>
        </div>
    </header>
    <div id="offcanvas" uk-offcanvas="flip: true; overlay: true; mode: push">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-secondary">

            <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

            <div class="uk-panel uk-text-center">
                    <a href="/#"><img class="uk-navbar-item uk-logo uk-align-center" src="{{ 'assets/images/theme/logo_contrast.svg'|theme }}" alt="Logo"></img></a>
            </div>
            
            <div class="uk-panel uk-panel-box uk-panel-header tm-offcanvas-menu uk-tile uk-tile-primary uk-padding-large uk-position-center">
            <div class="uk-width-1-1@s">
            <ul class="uk-nav-primary uk-nav-parent-icon" uk-nav>
            <h3 class="uk-panel-title">Main Menu</h3>    
            <li>{% component 'kitifyMenu' %}</li>
            </ul>
            
            </div>
            </div>
            
        </div>
    </div>