[viewBag]

[staticMenu kitifyMenu]
code = "main-menu"
==
<div class="uk-offcanvas-content">

    <header class="uk-navbar-container" uk-sticky="animation: uk-animation-slide-top ; show-on-up:true">
        <div class="uk-container">
            <nav uk-navbar>
                <div class="uk-navbar-left">
                    <div class="tm-logo-container">
                        <a href="/#"><img class="uk-navbar-item uk-logo"></img></a>
                       <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 168 155" style="enable-background:new 0 0 168 155;" xml:space="preserve">
                        <g>
                          <g>
                            <path class="tm-logo-path tm-logo-letter1"d="M117.39,33.3L93.3,47.9l27.8,15.82v41.49l-37.32,20.74L47.08,105.2V73.04L23,60.65v58.9l59.91,35.17 L145,119.55V49.19L117.39,33.3z"/>
                         </g>
                         <g>
                             <polygon class="tm-logo-path tm-logo-letter2" points="106.23,27.5 82.91,14 58.57,29.06 82.22,42.06 "/>
                         </g>
                        </g>
                        </svg>                       
                    </div>


                    
                            <div class="uk-navbar-left">
                            <ul class="uk-navbar-nav uk-visible@s">
                            <li>{% component 'kitifyMenu' %}</li>
                            </ul>
                            </div>
                    

                </div>
                <div class="uk-navbar-right">
                    <a class="uk-navbar-toggle" href="#offcanvas" uk-navbar-toggle-icon uk-toggle></a>
                </div>
            </nav>
        </div>
    </header>
    <div id="offcanvas" uk-offcanvas="flip: true; overlay: true; mode: push">
        <div class="uk-offcanvas-bar">

            <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

            <div class="uk-panel uk-text-center">
                    <a href="/#"><img class="uk-navbar-item uk-logo uk-align-center" src="{{ 'assets/images/theme/logo_contrast.svg'|theme }}" alt="Logo"></img></a>
            </div>
            
            <div class="uk-panel uk-panel-box uk-panel-header tm-offcanvas-menu uk-tile uk-tile-primary uk-padding-large uk-position-center">
            <div class="uk-width-1-1@s">
            <ul class="uk-nav-primary uk-nav-parent-icon" uk-nav>
            <h3 class="uk-panel-title">Main Menu</h3>    
            <li>{% component 'kitifyMenu' %}<li>
            </ul>
            
            </div>
            </div>
            
        </div>
    </div>