[viewBag]
==
<section class="showcase">
  <div class="showcase-wrap">
    <div class="texture-overlay-showcase"></div>
    <div class="uk-container">
      <div class="uk-child-width-1-2 uk-grid">
        <div class="uk-width-1-2">
          <div class="device wp3">
          <img src="{{ 'assets/images/theme/iphone-skeleton.png'|theme }}" alt="iphone-skeleton" uk-scrollspy="cls: uk-animation-slide-top; delay: 500; repeat: true"></img>
              <div class="device-content">
              <div class="showcase-slider">
              <div class="uk-position-relative uk-visible-toggle uk-light" uk-scrollspy="cls:uk-animation-fade; delay: 1200; repeat: true" uk-slideshow="min-width: 247px; max-width: 247px; min-height: 445; max-height: 445; autoplay: true; pause-on-hover: false">
                <ul class="uk-slideshow-items">
                <li>
                <img src="{{ 'assets/images/theme/screen1.jpg'|theme }}" alt="UIKit3" device-content>
                </li>
                <li>
               <img src="{{ 'assets/images/theme/screen2.jpg'|theme }}" alt="HTML5" device-content>
                </li>
                <li>
                <img src="{{ 'assets/images/theme/screen3.jpg'|theme }}" alt="October CMS" device-content>
                </li>
                </ul>
                <div class="uk-position-bottom-center uk-position-small">
                <ul class="uk-dotnav">
                    <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                    <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                    <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                    </ul>
                </div>
               </div>
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="uk-width-expand@s uk-width-1-2@s showcase-text-wrapper uk-contrast uk-visible@s" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
        <h2>Showcase your Product or Service</h2>
        <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </blockquote>
        <blockquote class="team-quote">
        <div class="avatar"><img class="uk-border-circle" src="{{ 'assets/images/theme/avatar.jpg'|theme }}" alt=""></div>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc." - Fosphatic Duke</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>