[viewBag]
==
<section class="features-list uk-section uk-section-primary uk-preserve-color" id="team">
    <div class="uk-container">
       <div class="team-slider" uk-slider="center: true; autoplay: true; pause-on-hover: false" uk-scrollspy="cls:uk-animation-slide-bottom-medium; delay: 450; repeat: true">
       <div class="team-title uk-text-center uk-contrast"><h2>Our Team</h2>
       </div>

    <div class="uk-position-relative uk-visible-toggle uk-light">
     <div class="uk-slider-container uk-light">

        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
            <!-- Card Content -->
            <li>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <!-- Hover Anchor -->
                        <figure class="tm-overlay tm-overlay-hover tm-overlay-uikitify">
                            <!-- Card Image -->
                            <img src="{{ 'assets/images/team/team1.jpg'|theme }}" alt="">
                            <!-- Hover Content -->
                             <div class="uk-position-center">
                                <span uk-overlay-icon></span>
                             </div>
                             <div class="tm-overlay-panel tm-overlay-background uk-overlay-fade"></div>
                                 <div class="tm-overlay-panel tm-animation-hover tm-ignore">
                                     <div>
                                         <div class="uk-margin-small uk-animation-slide-bottom">
                                             <h3 class="uk-margin uk-visible@l">Slogan:</h3>
                                             <p class="uk-text-large uk-text-contrast uk-visible@l"><i>"Get the most out of your day by organizing your tasks."</i></p>
                                             <div class="details uk-margin-small@s uk-margin@m">
                                                 <div class="tm-divider-icon uk-margin-small@s uk-margin-medium-top@m"></div>
                                                     <div class="social uk-position-relative uk-position-bottom-center uk-margin-top">
                                                          <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: xing; ratio: 2.5;"></a>
                                                          <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: google-plus; ratio: 2.5;"></a>
                                                          <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: github-alt; ratio: 2.5;"></a>
                                                     </div>
                                                     <hr class="uk-margin-medium-top@m">
                                               
                                             </div>                  
                                          </div>
                                          <div class="uk-grid uk-grid-small uk-margin uk-animation-slide-bottom" data-uk-grid-margin=""></div>  
                                     </div>
                                 </div>
                         </figure>
                         
                    </div>
                    
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Max Mustermann, CEO</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="uk-card uk-card-default">
                    
                    <div class="uk-card-media-top">
                        <!-- Hover Anchor -->
                        <figure class="tm-overlay tm-overlay-hover tm-overlay-uikitify">
                        <!-- Card Image -->
                        <img src="{{ 'assets/images/team/team2.jpg'|theme }}" alt="">
                        <!-- Hover Content -->
                        <div class="uk-position-center">
                            <span uk-overlay-icon></span>
                        </div>
                            <div class="tm-overlay-panel tm-overlay-background uk-overlay-fade"></div>
                                <div class="tm-overlay-panel tm-animation-hover tm-ignore">
                                    <div>
                                        <div class="uk-margin-small uk-animation-slide-bottom">
                                        <h3 class="uk-margin uk-visible@l">Slogan:</h3>
                                        <p class="uk-text-large uk-text-contrast uk-visible@l"><i>"Houston, we have a problem. Better call Tech Nick."</i></p>
                                            <div class="details uk-margin-small@s uk-margin@m">
                                                 <div class="tm-divider-icon uk-margin-small@s uk-margin-medium-top@m"></div>
                                                   <div class="social uk-position-relative uk-position-bottom-center uk-margin-top">
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: xing; ratio: 2.5;"></a>
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: google-plus; ratio: 2.5;"></a>
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: github-alt; ratio: 2.5;"></a>
                                                   </div>
                                                   <hr class="uk-margin-medium-top">
                                           
                                            </div>                  
                                        </div>
                                            <div class="uk-grid uk-grid-small uk-margin uk-animation-slide-bottom" data-uk-grid-margin=""></div>  
                                    </div>
                                </div>
                        </figure>
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Tech Nick, CTO</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    
                </div>
            </li>
            
            <li>
                <div class="uk-card uk-card-default">
                    
                    <div class="uk-card-media-top">
                         <!-- Hover Anchor -->
                        <figure class="tm-overlay tm-overlay-hover tm-overlay-uikitify">
                        <!-- Card Image -->
                        <img src="{{ 'assets/images/team/team3.jpg'|theme }}" alt="">
                        <!-- Hover Content -->
                        <div class="uk-position-center">
                            <span uk-overlay-icon></span>
                        </div>
                            <div class="tm-overlay-panel tm-overlay-background uk-overlay-fade"></div>
                                <div class="tm-overlay-panel tm-animation-hover tm-ignore">
                                    <div>
                                        <div class="uk-margin-small uk-animation-slide-bottom">
                                        <h3 class="uk-margin uk-visible@l">Slogan:</h3>
                                        <p class="uk-text-large uk-text-contrast uk-visible@l"><i>"I would change the world, but i need the source code."</i></p>
                                            <div class="details uk-margin-small@s uk-margin@m">
                                                 <div class="tm-divider-icon uk-margin-small@s uk-margin-medium-top@m"></div>
                                                   <div class="social uk-position-relative uk-position-bottom-center uk-margin-top">
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: xing; ratio: 2.5;"></a>
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: google-plus; ratio: 2.5;"></a>
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: github-alt; ratio: 2.5;"></a>
                                                   </div>
                                                   <hr class="uk-margin-medium-top">
                                           
                                            </div>                  
                                        </div>
                                            <div class="uk-grid uk-grid-small uk-margin uk-animation-slide-bottom" data-uk-grid-margin=""></div>  
                                    </div>
                                </div>
                        </figure>
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Peter Lustig, Developer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-card-default">
                    
                    <div class="uk-card-media-top">
                        <!-- Hover Anchor -->
                        <figure class="tm-overlay tm-overlay-hover tm-overlay-uikitify">
                        <!-- Card Image -->
                        <img src="{{ 'assets/images/team/team4.jpg'|theme }}" alt="">
                        <!-- Hover Content -->
                        <div class="uk-position-center">
                            <span uk-overlay-icon></span>
                        </div>
                            <div class="tm-overlay-panel tm-overlay-background uk-overlay-fade"></div>
                                <div class="tm-overlay-panel tm-animation-hover tm-ignore">
                                    <div>
                                        <div class="uk-margin-small uk-animation-slide-bottom">
                                        <h3 class="uk-margin uk-visible@l">Slogan:</h3>
                                        <p class="uk-text-large uk-text-contrast uk-visible@l"><i>"We reconnect you to what matters most as soon as possible."</i></p>
                                          <div class="details uk-margin-small@s uk-margin@m">
                                                 <div class="tm-divider-icon uk-margin-small@s uk-margin-medium-top@m"></div>
                                                   <div class="social uk-position-relative uk-position-bottom-center uk-margin-top">
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: xing; ratio: 2.5;"></a>
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: google-plus; ratio: 2.5;"></a>
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: github-alt; ratio: 2.5;"></a>
                                                   </div>
                                                   <hr class="uk-margin-medium-top">
                                           
                                            </div>                  
                                        </div>
                                            <div class="uk-grid uk-grid-small uk-margin uk-animation-slide-bottom" data-uk-grid-margin=""></div>  
                                    </div>
                                </div>
                        </figure>
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">John Doe, PR</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-card-default">
                    
                    <div class="uk-card-media-top">
                         <!-- Hover Anchor -->
                        <figure class="tm-overlay tm-overlay-hover tm-overlay-uikitify">
                        <!-- Card Image -->
                        <img src="{{ 'assets/images/team/team5.jpg'|theme }}" alt="">
                        <!-- Hover Content -->
                        <div class="uk-position-center">
                            <span uk-overlay-icon></span>
                        </div>
                            <div class="tm-overlay-panel tm-overlay-background uk-overlay-fade"></div>
                                <div class="tm-overlay-panel tm-animation-hover tm-ignore">
                                    <div>
                                        <div class="uk-margin-small uk-animation-slide-bottom">
                                        <h3 class="uk-margin uk-visible@l">Slogan:</h3>
                                        <p class="uk-text-large uk-text-contrast uk-visible@l"><i>"Inside of every problem lies an opportunity to help someone out."</i></p>
                                            <div class="details uk-margin-small@s uk-margin@m">
                                                 <div class="tm-divider-icon uk-margin-small@s uk-margin-medium-top@m"></div>
                                                   <div class="social uk-position-relative uk-position-bottom-center uk-margin-top">
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: xing; ratio: 2.5;"></a>
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: google-plus; ratio: 2.5;"></a>
                                                      <a href="" class="uk-icon-link uk-margin-small-right uk-border-rounded" uk-icon="icon: github-alt; ratio: 2.5;"></a>
                                                   </div>
                                                   <hr class="uk-margin-medium-top">
                                           
                                            </div>                  
                                        </div>
                                            <div class="uk-grid uk-grid-small uk-margin uk-animation-slide-bottom" data-uk-grid-margin=""></div>  
                                    </div>
                                </div>
                        </figure>
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Jan Kowalski, Helpdesk</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>    
        <a class="uk-position-center-left-out uk-position-large uk-slidenav-large uk-visible@l" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right-out uk-position-large uk-slidenav-large uk-visible@l" href="#" uk-slidenav-next uk-slider-item="next"></a>
        <a class="uk-position-center-left uk-position-large uk-slidenav-large uk-visible@s uk-hidden@l" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-large uk-slidenav-large uk-visible@s uk-hidden@l" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
  
</div>
    </div>
</section>