[viewBag]
==
{% for item in items if not item.viewBag.isHidden %}
    <li role="presentation" class="{{ item.isActive ? 'uk-active' : '' }} {{ item.isChildActive ? 'uk-parent' : '' }} {{ item.viewBag.cssClass }}">
        {% if item.url %}

            <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                {{ item.title }} 
            </a>

             
        </li>     
        {% else %}
            <li class="uk-parent">{{ item.title }}</li>
        {% endif %}

        {% if item.items %}
            <li class="uk-parent">
                <ul class="uk-nav-sub">
                    <li class="uk-parent"> {% partial 'kitifyMenu/items' items=item.items class='uk-child-item uk-nav-sub' %} </li>
                </ul>
           </li>
        {% endif %}
{% endfor %}