[viewBag]
==
{% for item in items if not item.viewBag.isHidden %}
    <li role="presentation" class="{{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }} {{ item.viewBag.cssClass }}">
        {% if item.url %}
            <div class="uk-animation-toggle">
            <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                <div class="uk-animation-slide-top-small mobile-nav-menu"><span class="uk-margin-small-right"> </span> {{ item.title }} <span class="uk-margin-small-right"> </span></div>
            </a>
            </div>
            
            <li class="uk-nav-divider"></li>
            
        {% else %}
            {{ item.title }}
        {% endif %}

        {% if item.items %}
            <ul>{% partial __SELF__ ~ "::items" items=item.items %}</ul>
        {% endif %}
    </li>
{% endfor %}