[viewBag]
==
{% for item in items if not item.viewBag.isHidden %}
    <li role="presentation" class="{{ item.isActive ? 'uk-active' : '' }} {{ item.isChildActive ? 'uk-parent' : '' }} {{ item.viewBag.cssClass }}">
        {% if item.url %}
            <div class="uk-animation-toggle">
            <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                <div class="tm-nav-menu"> {{ item.title }} </div>
               
            </a>
            </div>
             <li class="uk-nav-divider"></li>
        {% else %}
            {{ item.title }}
        {% endif %}

        {% if item.items %}
            <ul class="uk-nav-sub">{% partial __SELF__ ~ "::items" items=item.items %}</ul>
        {% endif %}
    </li>
{% endfor %}