[viewBag]
==
<ul class="{{ class }}">
    {% for item in items %}
        <li class="{{ item.isActive ? 'uk-active' : '' }} {{ item.isChildActive ? 'uk-parent' : '' }}" >
            <a {% if item.items %}class="uk-nav uk-navbar-dropdown-nav" data-toggle="data-uk-dropdown"{% endif %} href="{{ item.url }}"> 
                
                {{ item.title }} 
                
                {% if item.items %}&nbsp;<span uk-icon="icon: triangle-right"></span>{% endif %}
            </a>
         </li>

            {% if item.items %}
             <div class="uk-navbar-dropdown">
                 <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li> {% partial 'navigation/menu-items' items=item.items class='uk-child-item uk-nav-sub' %} </li>
                 </ul>
             </div>
            {% endif %}
        
    {% endfor %}
</ul>