description = "Default Blog layout"
==
<!DOCTYPE html>
<html lang="de" class="no-js" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow">
    
    <title>{{ this.page.meta_title|default(this.page.title) }} | {{ this.theme.site_name }}</title>
    <meta name="description" content="{{ this.page.meta_description}}">
    <meta name="keywords" content="{{ this.page.meta_keywords}}">
    <link rel="canonical" href="{{ ''|page }}">
    {% placeholder head %}
    {% component 'SeoBlogPost' data=post %}
    <!-- Theming / branding -->
    <meta name="theme-color" content="{{ this.theme.brand_color }}">
    <link rel="shortcut icon" href="{{ 'assets/images/uikit/icon.png'|theme }}">
    <script src="{{ 'assets/js/jquery.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/detect.js'|theme }}"></script>
    <link rel="stylesheet" href="{{ 'assets/css/uikit3themed.css'|theme }}?v={{ this.theme.version }}">
    
    {% styles %}
</head>
   

<body>
        <!-- Header -->
    <header id="layout-header">
        {% partial 'site/header' %}
    </header>
        <!-- Breadcrumbs -->
    <breadcrumbs id="layout-breadcrumbs">
        {% partial 'site/breadcrumbs' %}
    </breadcrumbs>

        <!-- Blog Content -->
    <blog id="layout-posts">
        {% page %}
    </blog>

        <!-- Footer -->
    <bottom id="layout-bottom">
        {% partial 'site/bottom' %}
    </bottom>
                    
    <!-- Footer -->
    <footer id="layout-footer">
        {% partial 'site/footer' %}
    </footer>

    <script src="{{ 'assets/js/uikit3.js'|theme }}?v={{ this.theme.version }}"></script>
    <script src="{{ 'assets/js/uikit3-icons.js'|theme }}?v={{ this.theme.version }}"></script>
    {% scripts %}
</body>
</html>