[SeoCmsPage]
==
<!DOCTYPE html>
<html lang="de" class="no-js" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>{{ this.page.meta_title|default(this.page.title) }} | {{ this.theme.site_name }}</title>
    <link rel="canonical" href="{{ ''|page }}">
    <!-- Theming / branding -->
    <meta name="theme-color" content="{{ this.theme.brand_color }}">
    <link rel="shortcut icon" href="{{ 'assets/images/uikit/icon.png'|theme }}">
    
    {% component 'SeoCmsPage' %}
</head>

<body>
    {% page %}

    
</body>

    
</html>