==
{% set post = __SELF__.post %}
<div class="tm-article-wrapper" uk-scrollspy="cls:uk-animation-fade; delay: 500 repeat:true">
<div class="tm-article-date uk-margin-medium uk-text-center">
  <span class="tm-article-date-day uk-column-span">{{ post.published_at|date('M') }}</span>
  <span class="tm-article-date-month uk-column-span">{{ post.published_at|date('Y') }}</span>
</div>
<h3 id="crumb-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
{% if post.featured_images.count %}
    <div class="featured-images text-center">
        {% for image in post.featured_images %}
            <p>
                <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    style="max-width: 100%" />
            </p>
        {% endfor %}
    </div>
{% endif %}

<div class="content">{{ post.content_html|raw }}</div>

<p class="info">
    Posted
    {% if post.categories.count %} in
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    on {{ post.published_at|date('M d, Y') }}
</p>
</div>