[viewBag]

[blogPosts postsList]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = "{{ 1 }}"
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "Blog/category"
postPage = "Blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "Blog/category"
==
<section class="uk-section uk-article uk-preserve-color" id="blog">
    <div class="uk-container">
        <div class="uk-grid-match" uk-grid uk-margin-medium>
            <div class="tm-article-content uk-position-relative uk-width-2-3@m uk-width-expand@s">
                <div class="tm-blog-post-wrapper uk-animation-fade">
                <ul class="uk-list uk-list-space">
                    <li> 
                    {% component 'postsList' %}
                    </li>
                </ul>
                </div>
            </div>
            <div class="uk-width-1-4@m">
                <aside class="uk-width-medium-1-1">
                <div class="uk-panel uk-panel-secondary">
                        <!-- Sidebar -->
                    <sidebar id="layout-sidebar">
                        {% partial 'blog/sidebar' %}
                    </sidebar>
                </div>
            </aside>
            </div>
        </div>
    </div>
</section>