description = "Blog Post Item"

[viewBag]

[blogPost postView]
slug = "{{ :slug }}"
categoryPage = "Blog/category"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "Blog/category"
==
<section class="uk-section uk-article uk-preserve-color" id="blog">
    <div class="uk-container">
        <div class="uk-grid-match" uk-scrollspy="cls:uk-animation-fade; delay: 250; repeat: true" uk-grid uk-margin-medium>
            <div class="tm-article-content uk-position-relative uk-width-2-3@m uk-width-expand@s">
                <ul class="uk-list uk-list-space">
                    <li>
                    {% component 'postView' %}
                    </li>
                <ul>
            </div>
            
            <div class="uk-width-auto@s">
            <aside class="uk-width-medium-1-1">
                <div class="uk-panel uk-panel-secondary">
                        <!-- Sidebar -->
                    <sidebar id="layout-sidebar">
                        {% partial 'blog/sidebar' %}
                    </sidebar>
                </div>
            </aside>
          </div>
        </div>
    </div>
</section>